version: "3.8"

services:

  mysql:
    image: mysql:8.0
    container_name: mysql
    ports:
      - "3307:3306"                  # HOST:CONTAINER
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: online_food
    volumes:
      - mysql_data:/var/lib/mysql
    restart: unless-stopped

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: online-food-app
    depends_on:
      - mysql
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/online_food?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
    restart: unless-stopped

volumes:
  mysql_data:
